{% extends "base.html" %}
{% block content %}
    product detail
    <ul>
        <li>{{ data.product__name }}</li>
        <li>{{ data.sku }}</li>
        <li>Price: ${{data.store_price}}</li>
        <li>{{ data.product_inventory__units }}</li>
    </ul>
    <ul>
        {% for x in z %}
            <li>
                {{ x.product_attribute__name }}
                <ul>
                    {% for a in y %}
                        {% if a.attribute_values__product_attribute__name == x.product_attribute__name %}
                            {% if a.attribute_values__attribute_value in data.field_a %}
                                <li>
                                    <div id="target-{{ a.attribute_values__attribute_value }}"
                                         class="selected fw-bold btn btn-primary"
                                         data-attribute="{{ x.product_attribute__name }}"
                                         value="{{ a.attribute_values__attribute_value }}">
                                        {{ a.attribute_values__attribute_value }}
                                    </div>
                                </li>
                            {% else %}
                                <li>
                                    <div id="target-{{ a.attribute_values__attribute_value }}"
                                         class="btn btn-link"
                                         data-attribute="{{ x.product_attribute__name }}"
                                         value="{{ a.attribute_values__attribute_value }}">
                                        {{ a.attribute_values__attribute_value }}
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <script>
        var d = {}
    
        let textBoxes = document.querySelectorAll('[id^=target]')
        let e = 0
        let f = textBoxes.length
    
        for (let i in textBoxes) {
            if (e < f){
                if (textBoxes[i].classList.contains("selected")){
                    d[textBoxes[i].getAttribute('data-attribute')] = textBoxes[i].getAttribute('value')
                }
            } else {
                break
            }
            e++
        }
        $('[id^=target]').click(function () {
            const value = this.getAttribute('value');
            d[this.getAttribute('data-attribute')] = this.getAttribute('value')
            const querystring = buildUrlWithParams(d)
            const url = window.location.href.split('?')[0]
            window.location.href = url + "?" + querystring;
        });
        function buildUrlWithParams(data){
            var searchParams = [];
            for (var d in data){
                searchParams.push(d + '=' + data[d]);
            }
            return searchParams.join('&')
        }
    
    </script>
{% endblock content %}
